body {
  background-color: #2e3440; /*bg*/
  color: #e5e9f0; /*fg*/

  margin: auto;
  max-width: 950px;
}

.content {
  margin: 15px;
}

html {
  font-family: "Iosevka Web";
}

h1 {
  color: #88c0d0; /* header */
}

h2 {
  color: #81a1c1; /* header */
}

h3 {
  color: #5e81ac; /* header */
}

h4, h5, h6 {
  color: #5e81ac; /* header */
}

a:link {
  font-family: "Iosevka Web";
  color: #8fbcbb; /* header */
}

a:visited {
  font-family: "Iosevka Web";
  color: #8fbcbb; /* header */
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b4252;
}

ul.nav li {
  float: left;
  font-size: 130%;
}

ul.nav li a {
  display: block;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #434c5e;
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("fonts/iosevka-medium.woff2") format("woff2"),
    url("fonts/iosevka-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("fonts/iosevka-mediumitalic.woff2") format("woff2"),
    url("fonts/iosevka-mediumitalic.ttf") format("truetype");
}

/*
 * vim: tabstop=2 shiftwidth=2
 */
