:root {
  /* fg */
  --fg: #e5e9f0;
  --lfg: #eceff4;
  --dfg: #d8dee9;

  /* bg */
  --bg: #2e3440;
  --bg2: #3b4252;
  --bg3: #434c5e;
  --bg4: #4c566a;

  /* frost */
  --blue: #5e81ac;
  --lblue: #81a1c1;
  --cyan: #88c0d0;
  --turqoise: #8fbcbb;

  /* aurora */
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --magenta: #b48ead;
}

body {
  background-color: var(--bg);
  color: var(--fg);

  margin: auto;
  max-width: 950px;
}

.content {
  margin: 15px;
}

html {
  font-family: "Roboto", sans-serif;
}

pre {
  white-space: pre-wrap;
  width: fit-content;

  background: var(--bg3);
  padding: 3px 5px;
  border-radius: 5px;

  outline: var(--lblue);
  outline-style: solid;
  outline-width: thin;
}

pre code {
  all: unset;

  font-family: "Iosevka Web";

  color: var(--lfg);
}

code {
  font-family: "Iosevka Web";

  background: var(--bg3);
  padding: 3px 5px;
  border-radius: 5px;

  outline: var(--lblue);
  outline-style: solid;
  outline-width: thin;

  background: var(--bg3);
  color: var(--lfg);
}

h1 {
  color: var(--cyan);
}
h2 {
  color: var(--lblue);
}

h3,
h4,
h5,
h6 {
  color: var(--blue);
}

a {
  color: var(--magenta);
}

/* navigation */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg2);
}
ul.nav li {
  float: left;
  font-size: 130%;
}

ul.nav li a {
  display: block;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--bg3);
  color: var(--turqoise);
}

ul.nav li a:hover {
  background-color: var(--bg4);
}

.grid {
  max-width: 100%;
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bg2);
}

.grid-item img {
  max-width: 100%;
}

/* fonts */
@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("fonts/Iosevka/iosevka-medium.woff2") format("woff2"),
    url("fonts/Iosevka/iosevka-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

/*
 * vim: tabstop=2 shiftwidth=2
 */
